@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

.dragIcon {
  cursor: move;
}

.bgHover {
  background: rgba(0, 0, 0, 0.3);
}

.helpMessageContainer {
  display: flex;
  justify-content: space-between;
}

.helpMessage {
  color: white;
  padding-top: 8px;
}

.flexColumn {
  flex-direction: column;
}

.content {
  cursor: pointer;
}

.black {
  color: #222;
}

.loginBg {
  background: url("./assets/images/bg.jpg") !important;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.demoHome {
  color: #fff;
  margin-left: 20px;
  border: 1px solid #444;
  padding: 10px 20px;
  background: #222;
}

.demoHome b {
  color: red;
}

.deselectButton {
  display: flex;
  gap: 4px;
  background: #305e7a;
  margin-bottom: 10px;
  color: #fff;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.deselectButton:hover {
  background: #357095;
}

.mobileMessage {
  color: red;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  display: none;
  margin-top: 60px;
  margin-bottom: 250px;
  width: 100%;
}

@media (max-width: 799px) {
  .mobileMessage {
    display: block;
  }
  .itemContainer {
    display: none;
  }
}

.infoButton {
  color: #fff;
  font-size: 40px;
}

.infoButton:hover {
  color: #f1f1f1;
}

.infoContainer {
  min-height: calc(100vh - 190px);
}

.info {
  padding: 30px;
  color: #fff;
}

.infoWindow {
  padding: 12px;
  font-size: 14px;
  color: #555;
}

.infoWindowContainer {
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.bottomBar {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e4effa;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -1px 6px 0px rgb(0, 0, 0, 0.46);
  z-index: 2;
}

.bottomSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bottomIcons {
  display: flex;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.bottomIcon {
  width: 50px;
  padding: 4px 8px;
  cursor: pointer;
}

.bottomIcon:hover {
  background: #cddded;
}

.bottomIcon img {
  width: 100%;
}

.bottomIcon2 {
  width: 50px;
  padding: 8px 12px;
  padding-left: 14px;
  cursor: pointer;
  margin-right: 12px;
}

.bottomIcon2:hover {
  background: #cddded;
}

.bottomIcon2 img {
  width: 100%;
}

.bottomClock {
  text-align: right;
  margin-right: 20px;
}

.desktop {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

.icon img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.icon p {
  font-size: 13px;
}

.window {
  box-shadow: 2px 3px 5px 0px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  position: fixed;
  background-color: white;
  overflow: hidden;
}

.window-header {
  padding: 10px;
  background: #f9f9f9;
  cursor: move;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  overflow: hidden;
  justify-content: space-between;
  z-index: 101;
  position: relative;
}

.window-header-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  gap: 10px;
}

.window-header-button {
  width: 30px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
}

.window-header-button:hover {
  background-color: #e1e1e1;
  border-radius: 4px;
}

.window-header-icon {
  margin: 0 auto;
  margin-top: 6px;
}

.window-header-icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.window-header-icon-close {
  font-size: 36px !important;
}

.window-header-icon-minimize {
  margin-top: 8px;
}

.window-header-icon {
  width: 22px;
  margin-left: 4px;
}

.window-header-icon-container span {
  font-size: 14px;
  margin-top: 2px;
}

.window-row {
  display: flex;
  height: 100%;
  position: relative;
}

.window-row-urlbar {
  background: #f0f5f9;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-row-url {
  background: #fff;
  width: 98%;
  height: 30px;
  display: flex;
  padding: 2px 12px;
  gap: 8px;
  align-items: center;
  flex-direction: row;
  border-radius: 6px;
}

.window-row-url span {
  color: #777;
  font-size: 14px;
  margin-top: -2px;
}

.window-row > div:nth-child(1) {
  height: 100vh;
  width: 200px;
  border-right: 1px solid #ddd;
}

.window-row > div:nth-child(2) {
  flex: 1 1;
  overflow-y: auto;
  scrollbar-width: thin;
}

.window-row-title {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 40px;
}

.startContainer {
  position: fixed;
  border-radius: 8px;
  width: 450px;
  height: 350px;
  left: 10px;
  background-color: #e4effa;
  bottom: 70px;
  transition: opacity 0.4s;
  box-shadow: 0px -1px 6px 0px rgb(0, 0, 0, 0.46);
  display: flex;
  user-select: none;
}

.startContainerCol1 {
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.startContainerCol1 > div:nth-child(1) {
  width: 100%;
  height: 44px;
  background-color: #c2d4e6;
  border-top-left-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startIcon {
  width: 100%;
  display: flex;
  padding: 8px 12px;
  padding-left: 14px;
  cursor: pointer;
  margin-bottom: 2px;
  gap: 10px;
  align-items: center;
}

.startIcon:hover {
  background: #cddded;
}

.startIcon img {
  width: 28px;
  height: auto;
}

.startIcon span {
  font-size: 14px;
}

.startContainer > div:nth-child(2) {
  flex: 1;
  background: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px -3px 8px 0px rgb(0, 0, 0, 0.1);
}

.startButton {
  width: 130px;
  z-index: 3;
  height: 60px;
  padding-left: 10px;
  cursor: pointer;
  gap: 10px;
  background-color: #c2d4e7;
  justify-content: start;
  align-items: center;
  display: flex;
  transition: background 0.4s;
}

.startButton:hover {
  background-color: #4d759d;
}

.startButton span {
  font-weight: bold;
}

.startButton:hover span {
  color: #fff;
}

.startButton img {
  width: 50px;
}

.startButton:hover img {
  filter: invert(100%) brightness(1000%);
}

.startUserImgContainer {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: -40px;
  margin-left: 59px;
}

.startUserImg {
  width: 100%;
}

.startUserData {
  padding: 25px;
  padding-top: 55px;
}

.startUserName {
  font-weight: bold;
}

.startUserEmail {
  color: #0175d8;
  font-size: 14px;
}

.startUserDataColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startUserLogout {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  padding: 8px 20px;
  background: #f9f9f9;
  border-bottom-right-radius: 8px;
}

.startUserLogout:hover {
  background: #e9e9e9;
}

.startLogo {
  width: 80px;
}

.pcContainer {
  display: flex;
  gap: 14px;
  text-align: center;
  font-size: 14px;
}

.serverItem {
  width: 90px;
  height: 120px;
  cursor: pointer;
}

.serverItem img {
  width: 100%;
}

.serverListItem {
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 14px 12px;
  gap: 14px;
  align-items: center;
  font-size: 13px;
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.1);
}

.serverListItem img {
  width: 30px;
}

.serverListItem:hover {
  background-color: #e1e1e1;
}

.filesystemRow {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.filesystemRow:hover {
  background-color: #f9f9f9;
}

.filesystemName {
  display: flex;
  gap: 16px;
}

.filesystemName img {
  width: 26px;
}

.filesystemRow > div:nth-child(1) {
  width: 400px;
  overflow: hidden;
}

.filesystemRow > div:nth-child(2) {
}

.backgroundContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.bgItem {
  width: 260px;
  height: 170px;
  cursor: pointer;
  transition: filter 0.4s;
  box-shadow: 2px 2px 6px 1px rgb(0, 0, 0, 0.23);
  border-radius: 6px;
  overflow: hidden;
}

.bgItem:hover {
  filter: brightness(0.6);
}

.bgItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filterItem {
  width: 260px;
  height: 170px;
  cursor: pointer;
  position: relative;
  transition: filter 0.4s;
  box-shadow: 2px 2px 6px 1px rgb(0, 0, 0, 0.23);
  border-radius: 6px;
  overflow: hidden;
}

.filterItem:hover {
  filter: brightness(0.6);
}

.filterItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filterItem p {
  width: 260px;
  height: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  margin-top: -30px;
}

.fileContent {
  font-size: 13px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  font-family: "Courier New", monospace;
  white-space: pre-wrap;
}

.info {
  font-family: "Courier New", monospace;
  color: #444;
}

.demo-modal {
  width: 400px;
  height: 180px;
  position: fixed;
  z-index: 110;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 2px 3px 5px 0px rgb(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  text-align: center;
}

.demo-modal-header {
  background-color: #f9f9f9;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 6px;
}

.demo-modal-icon-close {
  font-size: 24px;
}

.browser {
  position: relative;
  height: 100%;
  scrollbar-width: thin;
}

.browser iframe {
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.browser input {
  background-color: #edf2fa;
  flex: 1;
  padding: 5px 15px;
  border-radius: 50px;
}

.browserTopbar {
  background: #fff;
  padding: 6px;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.favorites {
  width: 114px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  padding: 3px 10px;
  align-items: center;
}

.favorites:hover {
  background-color: #edf2fa;
}

.blank {
  width: 60px;
}

.topButton {
  padding: 5px 7px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.topButton:hover {
  background-color: #edf2fa;
}

.favoritesContainer {
  position: absolute;
  right: 0px;
  margin-top: -1px;
  background-color: #fff;
  width: 200px;
  height: 100vh;
  box-shadow: -2px 3px 5px 0px rgb(0, 0, 0, 0.3);
}

.videoContainer ul {
  padding: 0;
  list-style-type: none;
}

.favoritesContainer li {
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  padding: 12px 18px;
  font-size: 13px;
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.1);
}

.favoritesContainer li:hover {
  background-color: #f9f9f9;
}

@font-face {
  font-family: "digital7";
  src: url("./assets/fonts/Digital7.ttf") format("truetype");
}

.calculatorContainer {
  width: 100%;
  max-width: 700px !important;
  margin: 0 auto;
  background: #39383b;
  padding: 22px;
  border: 1px solid #ccc;
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
}

.calculatorTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  max-width: 700px;
  color: #fff;
  margin: 0 auto;
  padding: 20px 0px 40px 0;
  text-align: center;
}

.operationsContainer {
  display: flex;
  gap: 1.3%;
}

.equal {
  background-color: #f05a2a !important;
  border-color: #f05a2a !important;
}

.button_calc {
  border: 5px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  width: 19%;
  font-size: 10vw;
  height: 100px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.button_calc:hover {
  background-color: #777;
}

.button_canc {
  background: #ff0000;
  border: 5px solid #ff0000;
}

.button_canc:hover {
  background-color: #a71f1f;
}

.numbers {
  flex: 1 1 32.333%;
  min-width: 32.333333%;
  max-width: 32.333333%;
  background-color: #8c8c8c;
  height: 100px;
  cursor: pointer;
  font-size: 5vw;
  margin-bottom: 1.5%;
  transition: all 0.4s ease-in-out;
  border: 0.5px solid #8c8c8c;
}

.numbers:hover {
  background-color: #c9c9c9;
}

.outputBar {
  height: 120px;
  box-shadow: inset 0px 0px 20px #d1ffef;
  text-align: right;
  font-size: 70px;
  display: flex;
  padding-right: 10px;
  opacity: 86.5%;
  border-radius: 16px;
  margin-bottom: 40px;
  background-color: #a1af77;
  border: 1px solid black;
  flex-direction: column;
  font-family: digital7;
}

.preRes {
  opacity: 26.5%;
  display: none;
}

.numbersContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;
}

@media (min-width: 576px) {
  .button_calc {
    font-size: 6vw;
  }
  .numbers {
    font-size: 6vw;
  }
}

@media (min-width: 776px) {
  .button_calc {
    font-size: 4vw;
  }
  .numbers {
    font-size: 4vw;
  }
}

@media (min-width: 996px) {
  .button_calc {
    font-size: 3vw;
  }
  .numbers {
    font-size: 3vw;
  }
}

@media (min-width: 1400px) {
  .button_calc {
    font-size: 2.1vw;
  }
  .numbers {
    font-size: 2.1vw;
  }
}

@media (min-width: 1800px) {
  .button_calc {
    font-size: 1.7vw;
  }
  .numbers {
    font-size: 1.7vw;
  }
}

.clockLogin {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.clockLogin > p:nth-child(1) {
  font-size: 22px;
}

.clockLogin > p:nth-child(2) {
  font-size: 50px;
}

.loginBox {
  width: 90%;
  max-width: 400px;
  border: 1px solid #222;
  padding: 40px;
  border-radius: 10px;
  margin-top: -130px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 3px 5px 0px rgb(0, 0, 0, 0.3);
}

.loginBox img {
  width: 120px;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.LoginButton {
  background-color: #34569f;
  border-radius: 6px;
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 12px;
  cursor: pointer;
}

.LoginButton:hover {
  background-color: #163984;
}

.ClockLoginButton {
  width: 110px;
  margin-top: 32px;
}

.videoContainer {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
}

.videoContainer > div:nth-child(1) {
  background: #f0f0f0;
  width: 220px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: 8px;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar {
  width: 5px;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.videoContainer > div:nth-child(2) {
  flex: 1;
  position: relative;
}

.videoIframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.videoContainer ul {
  padding: 0;
  list-style-type: none;
}

.videoContainer li {
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  padding: 14px 12px;
  font-size: 13px;
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.1);
}

.videoContainer li:hover {
  background-color: #f9f9f9;
}

.server-row {
  display: flex;
  gap: 24px;
  text-align: center;
  font-size: 14px;
  padding: 40px;
}

.codeEditor {
  display: flex;
}

.codeEditor > div:nth-child(1) {
  width: 190px;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.codeEditor > div:nth-child(1) ul {
  padding: 6px;
}

.codeEditor > div:nth-child(1) li {
  cursor: pointer;
  margin-bottom: 8px;
  color: #555;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  padding: 8px;
}

.codeEditor > div:nth-child(1) li:hover {
  background-color: #f1f1f1;
}

.codeEditor > div:nth-child(1) img {
  width: 19px;
}

.codeEditor > div:nth-child(2) {
  flex: 1 1;
  overflow-y: auto;
  scrollbar-width: thin;
}

.codeOutput {
  height: 50%;
  padding: 12px;
}

.codeOutput button {
  background: #444;
  color: #fff;
  padding: 8px 14px;
  border-radius: 4px;
}

.codeOutput button:hover {
  background: #777;
}

.settingItem {
  display: flex;
  align-items: center;
  padding: 24px 20px;
  gap: 14px;
  color: #444;
  font-size: 14px;
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.settingItem:hover {
  background: #f1f1f1;
}

.formContainer p {
  font-weight: bold;
  margin-bottom: 40px;
}

.inputContainer {
  display: flex;
  width: 450px;
  align-items: center;
  margin-bottom: 12px;
}

.inputContainer > label:nth-child(1) {
  width: 90px;
  font-size: 15px;
}

.inputContainer > input:nth-child(2) {
  flex: 1;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 6px;
  font-size: 14px;
}

.saveButton {
  background-color: #444;
  color: #fff;
  padding: 6px 14px;
  align-items: center;
  display: flex;
  gap: 12px;
  border-radius: 4px;
  margin-left: 110px;
}

.saveButton:hover {
  background-color: #777;
}

.saveButtonIcon {
  font-size: 17px;
}

.spacer {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  height: 30px;
}
