@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

.dragIcon {
  cursor: move;
}

.bgHover {
  background: rgba(0, 0, 0, 0.3);
}

.helpMessageContainer {
  display: flex;
  justify-content: space-between;
}

.helpMessage {
  color: white;
  padding-top: 8px;
}

.flexColumn {
  flex-direction: column;
}

.content {
  cursor: pointer;
}

.black {
  color: #222;
}

.loginBg {
  background: url("./assets/images/bg.jpg") !important;
  background-size: cover !important;
}

.demoHome {
  color: #fff;
  margin-left: 20px;
  border: 1px solid #444;
  padding: 10px 20px;
  background: #222;
}

.demoHome b {
  color: red;
}

.deselectButton {
  display: flex;
  gap: 4px;
  background: #305e7a;
  margin-bottom: 10px;
  color: #fff;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.deselectButton:hover {
  background: #357095;
}

.mobileMessage {
  color: red;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  display: none;
  margin-top: 60px;
  margin-bottom: 250px;
  width: 100%;
}

@media (max-width: 799px) {
  .mobileMessage {
    display: block;
  }
  .itemContainer {
    display: none;
  }
}

.infoButton {
  color: #fff;
  font-size: 40px;
}

.infoButton:hover {
  color: #f1f1f1;
}

.infoContainer {
  min-height: calc(100vh - 190px);
}

.info {
  padding: 30px;
  color: #fff;
}

.bottomBar {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e4effa;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -1px 6px 0px rgb(0, 0, 0, 0.46);
  z-index: 2;
}

.bottomSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bottomIcons {
  display: flex;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.bottomIcon {
  width: 50px;
  padding: 4px 8px;
  cursor: pointer;
}

.bottomIcon:hover {
  background: #cddded;
}

.bottomIcon img {
  width: 100%;
}

.bottomIcon2 {
  width: 50px;
  padding: 8px 12px;
  padding-left: 14px;
  cursor: pointer;
  margin-right: 12px;
}

.bottomIcon2:hover {
  background: #cddded;
}

.bottomIcon2 img {
  width: 100%;
}

.bottomClock {
  text-align: right;
  margin-right: 20px;
}

.desktop {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

.icon img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.icon p {
  font-size: 13px;
}

.window {
  box-shadow: 2px 3px 5px 0px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}

.window-header {
  padding: 10px;
  background: #f9f9f9;
  cursor: move;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  overflow: hidden;
  justify-content: space-between;
  z-index: 101;
  position: relative;
}

.window-header-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  gap: 10px;
}

.window-header-button {
  width: 30px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
}

.window-header-button:hover {
  background-color: #e1e1e1;
  border-radius: 4px;
}

.window-header-icon {
  margin: 0 auto;
  margin-top: 6px;
}

.window-header-icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.window-header-icon-close {
  font-size: 36px !important;
}

.window-header-icon-minimize {
  margin-top: 8px;
}

.window-header-icon {
  width: 22px;
  margin-left: 4px;
}

.window-header-icon-container span {
  font-size: 14px;
  margin-top: 2px;
}

.startContainer {
  position: fixed;
  border-radius: 8px;
  width: 450px;
  height: 350px;
  left: 10px;
  background-color: #e4effa;
  bottom: 70px;
  transition: opacity 0.4s;
  box-shadow: 0px -1px 6px 0px rgb(0, 0, 0, 0.46);
  z-index: 1;
  display: flex;
}

.startContainerCol1 {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.startContainerCol1 > div:nth-child(1) {
  width: 100%;
  height: 44px;
  background-color: #c2d4e6;
  border-top-left-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startContainerCol1 > div:nth-child(2) {
  flex: 1;
}

.startContainer > div:nth-child(2) {
  flex: 1;
  background: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px -3px 8px 0px rgb(0, 0, 0, 0.16);
}

.startButton {
  width: 130px;
  z-index: 3;
  height: 60px;
  padding-left: 10px;
  cursor: pointer;
  gap: 10px;
  background-color: #c2d4e7;
  justify-content: start;
  align-items: center;
  display: flex;
  transition: background 0.4s;
}

.startButton:hover {
  background-color: #4d759d;
}

.startButton span {
  font-weight: bold;
}

.startButton:hover span {
  color: #fff;
}

.startButton img {
  width: 50px;
}

.startButton:hover img {
  filter: invert(100%) brightness(1000%);
}

.startUserImgContainer {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: -40px;
  margin-left: 59px;
}

.startUserImg {
  width: 100%;
}

.startUserData {
  padding: 25px;
  padding-top: 55px;
}

.startUserName {
  font-weight: bold;
}

.startUserEmail {
  color: #0175d8;
  font-size: 14px;
}

.startUserDataColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startUserLogout {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  padding: 8px 20px;
  background: #f9f9f9;
  border-bottom-right-radius: 8px;
}

.startUserLogout:hover {
  background: #e9e9e9;
}

.startLogo {
  width: 80px;
}

.pcContainer {
  display: flex;
  gap: 14px;
  text-align: center;
  font-size: 14px;
}

.pcItem {
  width: 90px;
}

.pcItem img {
  width: 100%;
}
